  



@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Outfit:wght@100..900&family=Oxygen:wght@300;400;700&family=Silkscreen:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&display=swap');


      
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    background-color: #EBF4F6;
    
}


body {
    color: #071952;
    font-family: "Nunito", serif;
          
}



.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    
}


.nav-menu{
    display: flex;
    list-style: none;
    gap: 8px;
   
}

.menu-item{
    font-size: 20px;
    line-height: 60px;
    border-radius: 8px;
    padding: 8px 10px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    
}

.nav-link{
    text-decoration: none;
    color: #071952;
}

.nav-link:hover{
    color: #071952;
}


.abrir-menu, .cerrar-menu{
   
    background-color: #003049;
    color: #fff;
    border: none;
    font-size: 30px;
    display: none;
    
}

.principal{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.introduccion{
    padding-top: 70px;

}


.presentacion p{
  color: #071952;
  font-size: 50px;
  font-weight: 800;
  line-height: 1;
   
}

.perfil p{
    max-width: 800px;
    margin-inline: auto;
}



h1, h2{
    color: #009FBD;
    font-weight: 600;
    font-size: 40px;
    
    
}


.arrow{
    font-size: 30px;
    padding-left: 22px;
    padding-right: 22px;
    
}



.iconos{
    text-align: center;
    padding: 10px;
}



.fa-brands{
    font-size: 60px;
    padding: 20px;
    
}



.sobre-mi{
    max-width: 800px;
    margin-top: 100px;
    font-size: 20px;
    display: inline-block
    
}

.listas{
    font-weight: 400;
    list-style-type: none;

}

.perfil{
    font-weight: 300;
    font-size: 18px;
    font-style: italic;
    padding-top: 30px;
    
}


.listas, .perfil{
    line-height: 1.7;
}

.curriculum{
    margin-block-start: 75px;
  

}

.curriculum p{
    font-weight: 300;
}

.contacto2{
    margin-block-end: 90px;
}


h2{
   
    padding-top: 100px;
    text-decoration: underline;
         
}

h4{
    color: #009FBD;
    font-weight: 500;
    font-size: 23px;
}

h3{
    font-weight: 700;
    font-size: 25px;
}

.icono{
    color: #77037B;
    font-size: 50px;
    padding: 7px 14px;
   
}

.icono2{
    font-size: 20px;
    font-weight: bold;
    
}

.proyectos{
    margin-block-start: 90px;
}

.proyectos img{
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    
}

.proyectos p{
    font-size: 20px;
    color: #210062;
    font-weight: 400;
    
}

.hidden{
    opacity: 0;
    filter: blur(3px);
    transform: translateX(-100%);
    transition: all 1.5s;
}


.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media screen and (max-width: 500px){

    /*.nav{
    display: none;
   } */

   .principal{
    overflow: hidden;
   }

   
   .abrir-menu{
     display: block;
     margin-right: 15px;
     color: #071952;
     cursor: pointer;
    }

   .cerrar-menu{
     display: block;
     padding-bottom: 12px;
     cursor: pointer;
     color: #fff;
   }


    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        padding: 2rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #003049;
        box-shadow: 0 0 0 100vmax(0, 0, 0, .5);
    }

   

    .nav-link{
        color: #fff;
    }

    .nav-link:hover{
        color: #cc93f5;
    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
    }
    
    .nav-menu{
        flex-direction: column;
        align-items: end;
    }

    .menu-item, .nav-menu, .nav-link, .cerrar-menu, .bi-x{
        background-color: #003049;
    }
   
    .sobre-mi{
        margin-top: 20px;
        max-width: 300px;
        margin-inline: auto;
        
    }

    .introduccion{
        max-width: 300px;
        margin-inline: auto;
    }

    .presentacion p{
        font-size: 30px;
    }

    .perfil p{
      font-size: 20px;
    }

    .perfil{
        font-size: 20px;
    }

    .proyectos, .curriculum{
        margin-block-start: 30px;
    }

    .proyectos img{
        display: block;
        max-width: 100%;
        height: auto;
        margin-inline: auto;
    }

    .ultimo{
        margin-bottom: 80px;
    }

    .menu-item{
        color:#fff;
    }            
        
}

@media screen and (max-width: 800px){

    .abrir-menu{
        display: block;
        margin-right: 15px;
        color: #071952;
        cursor: pointer;
        }
    
       .cerrar-menu{
        display: block;
        padding-bottom: 12px;
        cursor: pointer;
        color: #fff;
    
       }
    

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #003049;
        box-shadow: 0 0 0 100vmax(0, 0, 0, .5);
    }

    .nav-link{
        color: #fff;
    }

    .nav-link:hover{
        color: #cc93f5;
    }


    .nav.visible{
        opacity: 1;
        visibility: visible;
    }
 
    
    .nav-menu{
        flex-direction: column;
        align-items: end;
    }

    .menu-item, .nav-menu, .nav-link, .cerrar-menu, .bi-x{
        background-color: #003049;
    }
   
    .sobre-mi{
        margin-top: 20px;
        max-width: 600px;
        margin-inline: auto;
    }

    .introduccion{
        max-width: 600px;
        margin-inline: auto;
    }


    .presentacion p{
        font-size: 30px;
    }

    .perfil p{
      font-size: 20px;
    }


    h1, h2{
        font-size: 28px;
    }
    
    h3{
        font-size: 20px;
    }

    .proyectos, .curriculum{
        margin-block-start: 30px;
    }
    
    h3,h4{
        font-size: 18px;
    }

    .ultimo{
        margin-bottom: 80px;
    }

    .menu-item{
        color:#fff;
    }            
     

}




















