  @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

      
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    background-color: #EBF4F6;
    
}


body {
    color: #071952;
    font-family: "Nunito", serif;
          
}



.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    
}


.nav-menu{
    display: flex;
    list-style: none;
    gap: 8px;
   
}

.menu-item{
    font-size: 20px;
    line-height: 60px;
    border-radius: 8px;
    padding: 8px 10px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    
}

.nav-link{
    text-decoration: none;
    color: #071952;
}

.nav-link:hover{
    color: #071952;
}


.abrir-menu, .cerrar-menu{
   
    background-color: #003049;
    color: #fff;
    border: none;
    font-size: 30px;
    display: none;
    
}

.principal{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.introduccion{
   
    padding-top: 70px;

}


.presentacion p{
  color: #071952;
  font-size: 50px;
  font-weight: 800;
  line-height: 1;
   
}



h1, h2{
    color: #009FBD;
    font-weight: 600;
    font-size: 40px;
    
    
}


.arrow{
    font-size: 30px;
    padding-left: 22px;
    padding-right: 22px;
    
}



.iconos{
    text-align: center;
    padding: 10px;
}



.fa-brands{
    font-size: 60px;
    padding: 20px;
    
}



.sobre-mi{
    display: inline-block;
    width: 800px;
    margin-top: 100px;
    vertical-align: top;
    font-size: 20px;
    
}

.listas{
    font-weight: 400;
    list-style-type: none;

}

.perfil p{
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    max-width: 800px;
    font-weight: 300;
    font-size: 18px;
    font-style: italic;
    padding-top: 30px;
    
}


.listas, .perfil{
    line-height: 1.7;
}

.curriculum{
    margin-block-start: 75px;
  

}

.curriculum p{
    font-weight: 300;
}

.contacto2{
    margin-block-end: 90px;
}


h2{
   
    padding-top: 100px;
         
}

h4{
    color: #009FBD;
    font-weight: 500;
}

h3{
    font-weight: 700;
}

.icono{
    color: #77037B;
    font-size: 50px;
    padding: 7px 14px;
   
}

.icono2{
    font-size: 20px;
    font-weight: bold;
    
}

.proyectos{
    margin-block-start: 75px;
}

.proyectos img{
    width: 400px;
    height: auto;
    border-radius: 10px;
    
}

.proyectos p{
    font-size: 20px;
    color: #210062;
    vertical-align: top;
    font-weight: 400;
    
}

.hidden{
    opacity: 0;
    filter: blur(3px);
    transform: translateX(-100%);
    transition: all 1.5s;
}


.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media screen and (max-width: 500px){

    /*.nav{
    display: none;
   } */
   
   .abrir-menu{
    display: block;
    margin-right: 15px;
    }

   .cerrar-menu{
    display: block;
    padding-bottom: 12px;
    cursor: pointer;
    

   }


    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #003049;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax(0, 0, 0, .5);
       
        
    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
    }
 
    
    .nav-menu{
        flex-direction: column;
        align-items: end;

    }

   
    .sobre-mi{
        width: 280px;
        margin-top: 300px;
    }

    .principal{
        overflow: hidden;
    }


    .introduccion{
    
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        height: 100vh;
       
        
    }

    .presentacion{
        width: 50%;
        
    }


    .presentacion p{
        color: #77037B;
        font-size: 40px;

    }


    h1, h2{
        
        font-size: 40px;
        
    }
    
    h3{
        font-size: 20px;
    }

    .listas{
        font-size: 20px;
    }

    .perfil{
        font-size: 20px;
    }

    .proyectos img{
        width: 95px;
        height: 40px;
        
    }

    .imagen img{
        width: 150px;
        height: auto;  
        
    }

    .proyectos{
        margin: 20px;
        width: 100px;
        height: 90px;
    
    
    }

    .proyectos p{
        font-size: 5px;
        padding-left: 3px;
        padding-right: 3px;
    }
    
    .icono2{
        font-size: 7px;
    }


   
    .fa-brands{
    font-size: 45px;
               
    }


    .ultimo{
        margin-bottom: 80px;
    }

    .menu-item{
        color:#fff;
    }

    .sobre-mi{
        width: 400px;
        margin-top: 20px; 
        font-size: 20px;
        
    }                   
     
        
}

@media screen and (max-width: 800px){

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #003049;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax(0, 0, 0, .5);
       
        
    }

}




















